.label {
    width: 250px;
    height: 30px;
    background: white;
}

.bodyRecovery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.button {
    text-align: center;
    margin: auto;
}

form {
    place-self: flex-start;
}