.containerCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
    font-family: AvertaStd-Bold;
    margin: 20px 0px 20px 0px;
}

.backgroundCardCuotas {
    background: var(--mui-palette-backgroundCardCuotas-background) !important;
    border-radius: var(--mui-palette-backgroundCardCuotas-borderRadius) !important;
    border: var(--mui-palette-backgroundCardCuotas-border) !important;
    margin-top: var(--mui-palette-backgroundCardCuotas-marginTop) !important;
    width: 300px !important;
    height: 405px !important;
    color: black !important;
    margin-inline: 0px !important;
}

.articleCard {
    display: flex;
    margin-left: 20px;
}

.titleCard {
    text-align: left;
    align-self: flex-start;
    margin: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 800px) {

    /* Estilos específicos para pantallas con un ancho máximo de 600px */
    .titleCard {
        text-align: center;
        margin-left: 10px;
    }

    .containerCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        font-family: AvertaStd-Bold;
        margin: 20px 0px 20px 0px;
    }
}