.titleCard {
    font-family: 'AvertaStd-Semibold';
    text-align: left;
    align-self: flex-start;
    margin-left: 20px;
    
}

.containerCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
    font-family: AvertaStd-Bold;
    margin: 20px 0px 20px 0px;

}

.backgroundCardNotStartedDisable {
    background: var(--mui-palette-backgroundCardNotStarted-background) !important;
    border-radius: var(--mui-palette-backgroundCardNotStarted-borderRadius) !important;
    background-color: #ccc;
    opacity: 0.6;
    width: 280px !important;
}

.backgroundCardIACurrentCourses {
    background: var(--mui-palette-backgroundCardIACurrentCourses-background) !important;
    border-radius: var(--mui-palette-backgroundCardIACurrentCourses-borderRadius) !important;
    width: 300px !important;
    /* margin-inline: 0px !important; */
    
}

.imageContainerPI {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 10%;
    margin-bottom: -10%;
    gap: 60%;
}

.imageContainer {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 10%;
    margin-bottom: -10%;
    gap: 50%;
}

.emojiEventsIconGold {
    width: 40px;
    height: 40px;
    color: #ffeb3b;
    font-size: 40px !important;
    /* yellow[600] en Material-UI */
}

.emojiEventsIconGrey {
    width: 40px;
    height: 40px;
    color: #757575;
    font-size: 40px !important;
    /* grey[600] en Material-UI */
}

.iconComponent {
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-right: 10px;
}

@media screen and (max-width: 800px) {

    /* Estilos específicos para pantallas con un ancho máximo de 600px */
    .titleCard {
        text-align: center;
        margin-left: 10px;
        
    }

    .containerCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        font-family: AvertaStd-Bold;
        margin: 20px 0px 20px 0px;
        
    }
}