.topTitle {
    margin-top: 85px;
}

.containerDrawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerTolbar {
    justify-content: center;
    height: 84.22px;
}

.divider{
    background: var(--mui-palette-dividerBar-background) !important;
}
