#root {
  margin: 0 auto;
  text-align: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  flex-wrap: wrap;
}